.angels{
    @include outerRow;
  }
  .title-angels{
    @include margin-leader(9);
    @include margin-trailer(3);
    @include column(12);
    h2{
      text-align: center;
      font-family: "raleway-Medium", "Helvetica Neue";
      @include adjust-font-size-to(40px, $lines: 2);
      font-weight: 200;
      font-weight: medium;
      color: $orange; 
      position: relative;
      z-index: 9999;
      @include znak-sprite-n;
      span{
        background: $background-color;
        position: relative;
      }
      @include znak-sprite-k; 
    }
    .line-min{
      position: absolute;
      top: 22px;
      right:10%;
      border-bottom: 3px $orange solid;
      width: 80%;
      z-index: 1;
    }
  }
#item {
  ul {
    @include block-grid(3, 4px, 0px);
  }
  li{
    .img {
      background-image: image-url("ang.png");
      background-repeat: no-repeat;
      height: 328px;
      display: block;
    }
  }
}