
.conteiner{
  .input{
    display: inline-block;
    background-color: $green;
    margin: 0;
    padding: 0;
    height: 470px; 
    width: 473px;
    border-bottom: 3px $orange solid;
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  .con{
    position: relative;
    background-color: $violet-new;
    min-height: 180px;
    width: 473px;
    margin-top: 3px;
    border-bottom: 3px $volna solid;
    color: white;
  }
  .img{
    display: block;
    background-image: image-url("apply.png");
    width: 69px;
    height: 69px;
    margin-left: auto;
    margin-right: auto; 
  }
  p{
    padding: 25px;
  }
}
.description{
  background-color: $orange;
  margin-left: 10px;
  width: 470px; 
  min-height: 657px; 
  color: white;
  border-bottom: 3px $green solid;
  p{
    padding: 25px 50px 0 25px;
  }
  dl{
     padding: 5px 50px 20px 25px;
  }
}
.block-dicorate-1 {
  @include inline-block;
  background-color: $orange;
  position:absolute;
  height: 100px;
  width: 100px;
  bottom: 0;
  left: -103px;
}
.block-dicorate-2{
  background-color: $orange;
  position:absolute;
  height: 100px;
  width: 100px;
  right: 103px;
}
.block-dicorate-3{
  background-color: $orange;
  position:absolute;
  top: 103px;
  height: 100px;
  width: 100px;
}
.block-dicorate-4{
  background-color: #cd8376;
  position:absolute;
  height: 100px;
  width: 100px;
  right: -103px;
}