@import "compass";
@import "foundation-grid";
@import "fonts";

$violet: #9189ff;
$violet-new: #7500a7;
$orange: #e05d41;
$light-orange: #cd8376;
$green: #7aa700;
$volna: #0cf389;

$rowWidth: 960px;
$columnGutter: 3px;
$totalColumns: 12;

$base-font-size: 14px;
$base-line-height: 20px;

@include global-reset;
@include establish-baseline;

@import "layout";
@import "modules/nav";
@import "modules/big-logo";
@import "modules/footer";
@import "modules/introduce";
@import "modules/conteiner";
@import "modules/conteiner-JS";
@import "modules/angels";
@import "modules/mixin-block-decor-1";