body{
  background-color: #80e0f2;
  font-family: "Raleway", "Helvetica Neue",Arial, sans-serif; 

}
header{
  background-color: $violet;
  border-bottom: 3px $orange solid;
  .wrapper{
    @include outerRow;
  }
}
#small-logo{
  @include column(4);
  .img {
    background-image: image-url("logo_small.png");
    width: 195px;
    height: 41px;
    margin: 20px 8px 0;
  }
}
#menu{
  @include column(8);
}
/*#clear {
clear:both;
}*/
.font{
  background-image: image-url("background.png");
  width: auto;
  height: auto;
}
.logo{
  @include outerRow;
}

#big-logo{
  @include column(4);
  @include push(4);
}

.introduce{  
  @include outerRow;
  border-bottom: 3px $green solid;
}
#photo{
  @include column(8);
}
.text{
  @include column(4);
}
.dop-cont{
  width: auto;
  height: 60px;
}

.infoRoR{
  @include outerRow;
}
.title{
  margin-top: 40px;
}
h1{
  text-align: center;
}
.conteiner{
  @include column(6);
}
.description{
  @include column(6);
}

.info-JS{
    @include outerRow;
  
}
.conteiner-JS{
  @include column(6);
}

.angels{
  @include outerRow;
}

.conteiner-ang-1{
  #ang-1{
    @include column(4);
  }
  .img1{
    background-image: image-url("ang-1.png");
    width: 315px;
    height: 315px;
  }  
  #ang-2{ 
    @include column(4);
  }
  .img2{
    background-image: image-url("ang-2.png");
    width: 315px;
    height: 315px;
  }
  #ang-3{ 
    @include column(4);
  }
  .img3{
    background-image: image-url("ang-3.png");
    width: 315px;
    height: 315px;
  }
}



