body{
  background-color: $background-color;
  font-family: "Raleway", "Helvetica Neue",Arial, sans-serif; 

}
header{
  background-color: $violet;
  border-bottom: 3px $orange solid;
  .wrapper{
    @include outerRow;
  }
}
#small-logo{
  @include column(4);
  .img {
    background-image: image-url("logo_small.png");
    width: 195px;
    height: 41px;
    margin: 10px 8px 0;
  }
}
#menu{
  @include column(8);
}
/*#clear {
clear:both;
}*/
#content{
  background: image-url("background.png") no-repeat;
  @include background-size(100% auto);
  overflow: hidden;
  *,*:before, *:after {
  @include box-sizing(border-box);
  }
}
  .big-logo{}

  .introduce{}  

  .infoRoR{}

  .info-JS{
    @include outerRow; 

    .intro-column{
    display: block;
    @include column(6);
    .text-block{
      p{
        @include rhythm($padding-leader: 1.7, $padding-trailer: 1);   
      }
    }
    }

  }
 
  .angels{}