body{
  background-color: #80e0f2;
  font-family: "Raleway", "Helvetica Neue",Arial, sans-serif; 

}
header{
  background-color: $violet;
  border-bottom: 3px $orange solid;
  .wrapper{
    @include outerRow;
  }
}
#small-logo{
  @include column(4);
  .img {
    background-image: image-url("logo_small.png");
    width: 195px;
    height: 41px;
    margin: 10px 8px 0;
  }
}
#menu{
  @include column(8);
}
/*#clear {
clear:both;
}*/
#content{
  background: image-url("background.png") no-repeat;
  @include background-size(100% auto);

}
  //@import 'modules/big-logo'; 
  .big-logo{}

  .introduce{}  

  .infoRoR{}

  .info-JS{
    @include outerRow;  
  }
    .container{
      //@include column(6);
    }

  .angels{}